.nav-sidebar {
  background: -moz-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(30,57,115,1)), color-stop(76%, rgba(142,184,247,1)));  safari4+,chrome 
background: -webkit-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: -o-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: linear-gradient(230deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3973', endColorstr='#8eb8f7',GradientType=1 );  
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-top:-20px;
  width: 200px;
  height: 500px;
}
.nav-sidebar > li > a {
	color:#fff;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
 background-color: darkgreen;

}
	.nav-sidebar> li > .indicator{
				font-size: 20px;
				color: #fff;
				font-weight: bold;
			}


/*
 * Main content */

.glyphicon{
	color: #Fff;
}
.visible-xs{
	display:none;
}


.nav-sidebarTwo{
	background: rgba(142,184,247,1);
	margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  width: 200px;
}
.nav-sidebarTwo>li{
	float: left;
}
.nav-sidebarTwo > li > a {
	color:#f3f3f3;
	font-style: italic;
	font-weight: bold;
  padding-right: 20px;
 
  text-align: center;
}

.nav-sidebarTwo > .active > a {
  color: yellow;

}

.green{color:green;}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 10px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 10px;
}


#clock{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 10px;
}

#clock > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clock div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 10px;
}



.main .page-header {
  margin-top: -50px;
}


