body{
	margin: 0;
	padding: 0;

	background-color: aqua;
}
.indicator{
	font-size: 25px;
}

.bgColor{
background: -moz-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(30,57,115,1)), color-stop(76%, rgba(142,184,247,1)));  safari4+,chrome 
background: -webkit-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: -o-linear-gradient(220deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
background: linear-gradient(230deg, rgba(142,184,247,1) 24%, rgba(30,57,115,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3973', endColorstr='#8eb8f7',GradientType=1 );  
}

.glyphicon{
	color: #fff;
}
.footer{
	margin-top: 300px;
}
.onoffswitch {
position: relative; width: 90px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "OFF";
padding-left: 10px;
background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
content: "ON";
padding-right: 10px;
background-color: #EEEEEE; color: #999999;
text-align: right;
}
.onoffswitch-switch {
width: 18px; margin: 6px;
background: #FFFFFF;
border: 2px solid #999999; border-radius: 20px;
position: absolute; top: 0; bottom: 0; right: 56px;
-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}








/*MAIN PAGE */


/*END OF MAIN PAGE */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#slide-nav{
	background: transparent;
	
	border-color: transparent;
}
.navbar-default{
	border-color: transparent;
	
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default li{
	
	
} 
/* Create the animation blocks */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Spinning, gradient circle; CSS only! */
.mainn {
	width:500px;
margin: 0 auto;
border-radius:50%;
font-size:50px;
color:#fff;
line-height:480px;
text-align:center;
border: 1px solid white;
	margin-top: 100px;
}
@media (max-width: 768px) {
  .mainn {

  width:300px;
margin: 0 auto;
border-radius:50%;
font-size:50px;
color:#fff;
line-height:280px;
text-align:center;
border: 1px solid white;
  margin-top: 100px;
}

}
.controls p{
	padding: 30px;
        font-size: 26px;
        text-align: center;
        background: #555;
	text-decoration: none;
}

.controls a{
	color: #fff;
}
.controls p{
	color: #Fff;
}
.controls a:hover{
	text-decoration: none;
	color: aqua;
}

#circle{
	border-radius: 350%;
}
#portfolio {

	background: url(../navBar/mac.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*
  


  padding:50px 0px 70px 0px;


}







.portheader {
  text-align: center;
  margin-bottom:50px;
}
#portfolio .thumbnail{
-webkit-box-shadow: 7px 6px 14px -8px rgbta(0,0,0,0.75);
-moz-box-shadow: 7px 6px 14px -8px rgba(0,0,0,0.75);
box-shadow: 7px 6px 14px -8px rgba(0,0,0,0.75);
}
#portfolio h1{
  position: relative;
  font-size: 38px;

  
  display: inline-block;

  background-color: orangered;
 border-radius: 50%;
	padding: 15px 10px;
	color: #fff;
	
	
}


#portfolio{
	margin-top: 50px;
}
.project h4 {
  color:#fff;
  text-align: center;
}

.left{
	text-align: left;
}

.small{
	width: 25px;
	color: #000;
}

.security{
	float: left;
	margin-top: -10px;
}



/* Sidebar navigation */




.nav-sidebarTwo {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;

}
.nav-sidebarTwo > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebarTwo > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

}















/* SIDEBAR NAV*/

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
		
/* END OF NAV SIDER IN OVERVIEW PAGE */

#message{
  font-size:30px;
  color: #fff;
  font-family: 'Damascus';
}

#time{
  color:#fff;
  font-size:16px;
}












.button {

position: relative; width: 90px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.button-checkbox {
display: none;
}
.button-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #999999; border-radius: 20px;
}
.button-inner {
width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.button-inner:before, .button-inner:after {
float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.button-inner:before {
content: "OFF";
padding-left: 10px;
background-color: #2FCCFF; color: #FFFFFF;
}
.button-inner:after {
content: "ON";
padding-right: 10px;
background-color: #EEEEEE; color: #999999;
text-align: right;
}
.button-switch {
width: 18px; margin: 6px;
background: #FFFFFF;
border: 2px solid #999999; border-radius: 20px;
position: absolute; top: 0; bottom: 0; right: 56px;
-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.button-checkbox:checked + .button-label .button-inner {
margin-left: 0;
}
.button-checkbox:checked + .button-label .button-switch {
right: 0px;
}